<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/pierrelid/rails-airbnb-clone"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/lewagonbordeaux/"><i class="fab fa-instagram"></i></a>
    <a href="https://fr-fr.facebook.com/lewagonbordeaux/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/LeWagonBordeaux"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/showcase/lewagon-bordeaux/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made by #ViensCopine Team with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
