<div class="header">
  <div class="header-inner">
    <p>Discover <strong style="color:#fdb12a">...</strong> Create <strong style="color:#24B787">...</strong> Travel <strong style="color:#E37663">...</strong></p>
    <h1>Find activities <br> wherever you are</h1>
  </div>
</div>

<div style="background-color:#1B716A">
    <%= render 'shared/searchform' %>
</div>

<div class="utilities">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 utilitie-container">
        <%= image_tag "activitie1.png" %>
        <div class="utilitie-praragraph">
          <h6>Discover</h6>
          <p>1 300 local agencies selected by Evaneos</p>
        </div>
      </div>
      <div class="col-sm-4 utilitie-container">
        <%= image_tag "activitie2.png" %>
        <div class="utilitie-praragraph">
          <h6>Discover</h6>
          <p>1 300 local agencies selected by Evaneos</p>
        </div>
      </div>
      <div class="col-sm-4 utilitie-container">
        <%= image_tag "activitie3.png" %>
        <div class="utilitie-praragraph">
          <h6>Discover</h6>
          <p>1 300 local agencies selected by Evaneos</p>
        </div>
      </div>
    </div>
  </div>
</div>
