<h1>Experience</h1>


<ul>
  <li><%= @experience.name %> - <%= @experience.price %> - <%= @experience.description %></li>
</ul>

<%= link_to 'Reserve', new_experience_reservation_path(@experience)  %>

