.form-style{
  width:50%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 2em;
  p {
    font-size: 22px;
    font-weight:bold;
    color: $gray;
    padding: 0.5em 0em;
  }
  label {
    color: $gray;
    font-weight: bold;
  }
  a {
    color: $gray;
      &:hover {
    text-decoration: underline;
    }
  }

}

.wrapper-style{
  height: calc(100vh - 70px);
  width: 100%;
  .container-style{
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.btn-green {
  margin-bottom: 10px;
}
