.navbar-lewagon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  background: white;
  color: $green;
  font-size: 15px;
  height: 70px;
  h1 {
    margin-bottom: 0px;
  }
  a {
    color: $green;
  }
}

.navbar-lewagon .brand {
  width: 40px;
}

.navbar-lewagon .navbar-lewagon-actions {
  display: flex;
  align-items: center;
}

.navbar-wagon-brand:hover{
    color:$dark-green;
  }

.navbar-lewagon .navbar-lewagon-actions .navbar-lewagon-link {
  margin-left: 24px;
  color: #999999;
}

.navbar-lewagon .navbar-lewagon-actions .navbar-lewagon-link:hover {
  color: #151515;
}


.navbar-lewagon .navbar-lewagon-actions .avatar {
  margin-left: 24px;
}

.navbar-lewagon .dropdown-toggle {
  cursor: pointer;
}

.navbar-wagon-link {
  margin-right: 10px;
}
