<div class="container">
  <h1>Votre avis est important</h1>
  <%= simple_form_for [@reservation, @review] do |f| %>
  <%= f.input :description %>
  <%= f.input :rating %>
  <%= f.button :submit %>
  <% end %>
</div>
